/* ./src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    box-shadow: 1px 1px 6px 4px #0000003d;
    background-color: #fff;
}



.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    width: 100%;
    padding: 18px 0 18px 10px;
    text-align: left;
    box-shadow: 0px 4px 9px 0px #cfdfe2;
    min-height: 60px;
    font-family: 'Montserrat', sans-serif;
    color: #6e7683;
}

.card-close {
    padding: 19px 25px;
    box-shadow: 0px 4px 4px 0px #f4747752;
}

.card-body {
    height: 255px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: solid 5px black;
    padding: 10px 0;
}

.card-footer {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 82px;
    position: relative;
}

.card-description {
    color: #f47477;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.card-view {
    background-color: #48cdfb;
    min-width: 120px;
    outline: 0;
}

.search-input {
    width: 100%;
    border: 0;
    padding: 19px 10px;
    outline: none;
    border-color: black !important;
}

.border {
    border: solid 1px #cde3ea;
    margin: 10px 0;
}

@keyframes pokeCardAnimation {
    0% {
        transform: rotate(0.9deg);
    }

    30% {
        transform: rotate(0.9deg);
    }

    100% {
        transform: rotate(0.9deg);
    }
}

.card-animation:hover {
    animation: pokeCardAnimation 0.5s ease-out;
}

@keyframes pokeCardAnimation {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(3deg);
    }

    75% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.sprite {
    background: url("assets/sprite.png") no-repeat;
    background-size: 280px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 2px;
}

/* icons Powers */
.wather {
    background-position: -17px -19px;
}

.fire {
    background-position: -58px -19px;
}

.grass {
    background-position: -100px -19px;
}

.ground {
    background-position: -140px -19px;
}

.rock {
    background-position: -185px -19px;
}

.steel {
    background-position: -228px -19px;
}

.ice {
    background-position: -17px -76px;
}

.electric {
    background-position: -57px -76px;
}

.dragon {
    background-position: -100px -76px;
}

.ghost {
    background-position: -140px -76px;
}

.psychic {
    background-position: -185px -76px;
}

.normal {
    background-position: -228px -76px;
}

.fighting {
    background-position: -17px -133px;
}

.poison {
    background-position: -57px -133px;
}

.bug {
    background-position: -100px -133px;
}

.flying {
    background-position: -140px -133px;
}

.dark {
    background-position: -185px -133px;
}

.fairy {
    background-position: -228px -76px;
}